<?xml version="1.0"?>
<model>
  <name>person_standing</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>RDaneelOlivaw</name>
    <email>duckfrost@theocnstructsim.com</email>
  </author>

  <description>
    A RealTurtle model , 3D version of the ROS turtlebot 2d for the demos.
  </description>
</model>